<!DOCTYPE html>
<html class="bootstrap-admin-vertical-centered">
  <head>
    <title>Chronological Bookmarks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/demo.css" rel="stylesheet">

    <!-- Bootstrap Admin Theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-admin-theme.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
       <script type="text/javascript" src="{{STATIC_URL}}js/html5shiv.js"></script>
       <script type="text/javascript" src="{{STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
    	
    	{% if user.is_authenticated %}
    		
 	   		document.location.href = "/{{user}}/";
 	   		USER_NAME = '{{user}}';
    		
    		
    	{% endif %}
    	
    </script>
    
</head>

	<body class="bootstrap-admin-without-padding main">
		<!--  {{ form }} -->
        <div class="container">
            <div class="row">
            <fieldset>
                <form method="post" action="/accounts/signup/" class="bootstrap-admin-signup-form form-horizontal col-md-7 col-md-offset-3">
                	{% csrf_token %}
                    <h1>Register</h1>
                    <span class="has-error"><span class="help-block">{{form.non_field_errors.as_text}}</span></span>
                    <div class="form-group {% if form.username.errors.as_text %}has-error{% endif %}">
                    	<label for="username" class="col-md-3">Choose a username</label>
                    	<div class="col-md-7">
                        <input class="form-control" id="id_username" type="text" name="username" placeholder="Choose a username">
                       	<span class="help-block">{{form.username.errors.as_text}}</span>
                       	</div>
                    </div>
                    <div class="form-group {% if form.email.errors.as_text %}has-error{% endif %}">
                        <label for="email" class="col-md-3">Enter Email</label>
                        <div class="col-md-7">
                        <input class="form-control" id="email" type="email" name="email" placeholder="Enter your email 	">
                        <span class="help-block">{{form.email.errors.as_text}}</span>
                        </div>
                    </div>
                    <div class="form-group  {% if form.password1.errors.as_text %}has-error{% endif %}">
                    	<label for="password1" class="col-md-3">Password</label>
                    	<div class="col-md-7">
                        <input class="form-control" id="id_password1" type="password" name="password1" placeholder="Password">
                        <span class="help-block">{{form.password1.errors.as_text}}</span>
                        </div>
                    </div>
                    <div class="form-group  {% if form.password1.errors.as_text %}has-error{% endif %}">
                        <label for="password2" class="col-md-3">Confirm Password</label>
                        <div class="col-md-7">
                        <input class="form-control" id="id_password2" type="password" name="password2" placeholder="Re-Enter Password">
                        <span class="help-block">{{form.password2.errors.as_text}}</span>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Create My Account</button>
                </form>
               </fieldset>
            </div>
        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
	    <script src="{{ STATIC_URL }}scripts/jquery-ui.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/twitter-bootstrap-hover-dropdown.min.js"></script>
	    <script src="{{ STATIC_URL }}scripts/jquery.ui.touch-punch.min.js"></script>
	    <script src="{{ STATIC_URL }}scripts/config.js"></script>
		<script src="{{ STATIC_URL }}scripts/uri.js"></script>
		<script src="{{ STATIC_URL }}scripts/function.js"></script>
        <script type="text/javascript">
            $(function() {
                // Setting focus
                $('input[name="email"]').focus();

                // Setting width of the alert box
                var formWidth = $('.bootstrap-admin-login-form').innerWidth();
                var alertPadding = parseInt($('.alert').css('padding'));
                $('.alert').width(formWidth - 2 * alertPadding);
            });
        </script>
    </body>
</html>
