 
/* 
 @font-face {
    font-family: Titillium-BoldItalic;
    src: url("../static/fonts/Titillium-BoldItalic.otf") 
} */
   
.popover-title{
	display: none;
}

body{
/*    font-family:Titillium-BoldItalic; */
	font-weight:200;
}

.userinfo{
	
	min-width: 250px;
	float: right;
	margin-right : 1%;
	
}

.bootstrap-admin-no-edges-padding{
	
	margin-left:1%;
	margin-right:1%;	
	
}

.alink > a{
	color: black;
	text-decoration: none;	
}
ul,ol,li{
	list-style-type: none;
	padding:0;
	margin: 0;
}

ul,ol,li{
	list-style-type: none;
	padding:0;
	margin: 0;
}
.favicon-link{
	
	width:16px;
	height:16px;
	z-index : 100;
	
}
#icons-attach{
	height: auto;
	/* margin-bottom : 3%; */
	
	position: relative;
    /*left: -4%;*/
	
}
.alink
{
	width: auto; 
	height: auto; 
	color: rgb(0, 128, 0);
	display: inline-block;
	margin-left: 10px;
}

.text-muted{
	//margin-left: 10px;
	color: black;
	font-weight: bold;	
	cursor: move;
    margin-left:9px;
}
.editon_hover{
	text-decoration: none;
	color: #3276b1 !important;
	border-bottom: 1px #3276b1 dotted;
}
.cat_edit_box {
	width: 207px !important;
	position : absolute;
	z-index: 100;
	background-color:  #eee;	
	margin-left: -8px;
    margin-top: -25px;
	border-radius: 5px;
}
.cat-title-val{
	margin:2px 0 1px 3px; 
	height: 27px !important;
	width: 130px !important;
	float: left;
	padding: 0px 0px 0px 7px !important;
	cursor: text;
}
.cat-cancel,.cat-done{
	margin: 2px 0 1px 5px;
	cursor: pointer;
	background-color: rgb(217, 83, 79);
	float: left;
}
.cat-done{
	background-color: rgb(50, 118, 177);
}
.favicon{
	width:16px;
	height:16px;
}

#edit-mode {
cursor: pointer;
background-color: #3276b1;
margin-left: 1%;
}

.web-icon{
	width: 24px; 
	height: 24px;
	
}

.user{
	
	height : 20px;
	width : 20px;
}
.panel{
	/* height: 300px; */
	height : auto;
	margin-bottom: 0px !important;
	border: 0px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
.panel-heading{
	height: 42px;
}
.panel-heading:active{
	cursor: move;
}
.alink:active{
	cursor: move;
}
.bootstrap-admin-panel-content{
	height: auto;
	/* overflow-y: scroll; */
    padding:0px !important;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: rgba(180,180,180,0.3);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
	background-color: #777;
    	-webkit-box-shadow: inset 0 0 6px rgba(100,200,200,0.5);
}


#add-category{
	height: 70px;
	margin-right: 15px;
	border: 2px #3276b1 dashed;
	background-color: rgba(200,200,200,0.2);
	border-radius: 5px;
	color: #3276b1;
}
#del-category{
	height: 70px;
	margin-top: 20px;
	margin-right: 15px;
	border: 2px rgb(217, 83, 79) dashed;
	background-color: rgba(200,200,200,0.2);
	border-radius: 5px;
	color: rgb(217, 83, 79);
}
#cat-add-btn{
	width: 56px;
	height: 56px;
	background-color: rgb(50, 118, 177);
	border-radius: 50%;
}
#cat-del-btn{
	width: 64px;
	height: 64px;
}
.category{
  padding-right:0px !important;
  margin-top: 0px;
  position: relative;
}

.popover{
   z-index:1040;
}
#newurl popover{
color:red;
border-color: red;
}

.container-category{
    position:relative;
	margin-left:2.21%;
}

#favicon_bar{
   position:relative;
   background-color : #E8E8E8;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 10px;

}
#icon-list li{
	float: left;
	margin-left: 10px;
}
#newurl{
   position:relative;
   margin-left: 5%;
   width : 88%;
   background-color: rgba(245, 247, 247, 1);
  
   border-radius:0px;
   margin-top:1%;

}

.first .category:nth-child(3){

       margin-top:4%;
}
.add{
  position: relative;
  left: 5%;
}

.dropdowncss{
   float: right !important;
   top: 3px !important; 
}
.favicon-container{
 position:relative;
 
}

#collapsebox{
   overflow-y:visible;
}
 /* the following css is for home page(signin and up) */
.password{
  position:relative;
  /* width:76%; */
  padding: 4px 6px !important;
  margin-top:-6px;
}

.emailtextbox{
  padding: 4px 6px !important;
  /* margin-bottom:-14px !important; */
}

.submit{
height: 20px !important;
padding: 13px;
font-size: 12px;
line-height: 0.33;
position: relative;
/* margin-left: 77%;*/
margin-top: 7px; 
}

.logintextbox{
  margin-bottom:-6px !important;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 1.5/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  body{
  	
  		font-size:200%;
  
  }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  body{
  		
  		font-size : 300%;
  
  }

}

.signinform{
position:relative;
padding: 9px !important;
/* max-width: 57% !important;
height:114px; */
margin-top: 18% !important;
margin-bottom: 2% !important;
margin-left: 19% !important;

  padding: 30px;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.signupform{
position: relative;
padding-top: 0%!important;
padding-left: 2% !important;
margin-left: 19%;
/*max-width:57% !important;
height: 244px; */
padding-right: 1%!important;
padding: 30px;
background-color: #FFF;
border: 1px solid #E5E5E5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.signuptextbox{
position: relative;
padding: 2px 6px !important;

margin-bottom: -12px!important;
}

.signup{
position: relative;
margin-left: 16px;
margin-top: 4%;
}

.bmimage{
	
	
/* border: 1px solid #CCC7C7; */
/*height: 100px;
position: relative;
left: 13%;
top: -27%; 
border-radius: 7px; */
margin-top: 5%;
}

.main{
/* background: -webkit-radial-gradient(circle,#94d2f8,#3a92c8); */
background: -webkit-radial-gradient(circle,#9B7692,#426275);
background:-moz-radial-gradient(circle,#9B7692,#426275);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9B7692', endColorstr='#426275'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9B7692', endColorstr='#426275')"; /* IE8 */
}



#add-category-div{
display:none;
opacity:1.16;
}

.dropdown-menu {
	min-width:65px !important;
	margin-top: 7px !important;
}