@CHARSET "ISO-8859-1";

#urlform , .favicon-link {
	
	size : 150%;
}

.favicon{
	width:32px;
	height:32px;
}

.userinfo{
	
	min-width: 100%;
	float: right;
	
}

#edit-mode{
	
	margin-top : 5px !important;
}

#icons-attach{
	
	margin-left : 0px !important;
}

.web-icon{
	width: 32px !important; 
	height: 32px !important;
	border-radius: !important;
}

.form-control{
	
	height : 50px !important;
	
}

.user{
	
	height : 32px;
	width : 32px;
}

body{
     	
        background-color:black;
        font-size:300%;
      }
   
     .alink > a {
                     color: white;
              }
     .text-muted.bootstrap-admin-box-title{
                color:white;
             } 
   
     .panel-default{
           background-color:black!important;
            margin-bottom: -19px !important;
         } 
     .col-md-4.category.ui-droppable.ui-sortable{
              padding-right: 7px;
              padding-left: 4px;
        }       
      
     
     #newurl{
            border-radius: 0px;
    		margin-left: 26px;
            background-color: rgba(235, 236, 236, 1);
        }  
        
        .category{
             margin-bottom:14px;
        }       
        .category:nth-child(3){
             margin-top:4%;
       }
.forms{
   left:0% !important; 
}

