body{
	//overflow-x: hidden;
}
header{
	height: 50px;
	background-color: #eee;
}
ul,ol,li{
	list-style-type: none;
	padding:0;
	margin: 0;
}
.right-panel{
	margin-left: 0px;
	padding:0;
}
.left-panel{
	
}
.bord{
	border:1px red solid;
}



.fake{
	max-height: 300px;
	
	padding-right: 0px;
	
}
.fake ul{
	max-height:200px;
	overflow-y:scroll;
}

.category-name{
	background-color:#1e9;	
}

.link-edit{
	cursor:pointer;
	color:#1ea;
	margin-right: 5px;
}
.link-delete{
	cursor:pointer;
	color:#1ea;
}
.link-edit:hover{
	color:blue;
}
.link-delete:hover{
	color:red;
}
#container{
	
}
#sidebar{
	height: 400px;
	background-color:#aaa;
}
#content{
	height: 400px;
	background-color:#3e2;
}
#list li{
		
}
#categories-wrapper{
	margin: 10px;	
}
#categories-wrapper .panl{
	border: 1px red solid;
	margin: 0px 0px;
	height: 350px;
	background-color: #fff;
}