<html>

<script type="text/javascript" src="{{ STATIC_URL }}/scripts/json2.js"></script>
<script type="text/javascript"  src="{{ STATIC_URL }}/scripts/jquery-1.10.2.js"></script>
<head>

<script>

var data = JSON.stringify({
first_name: "Jadva",
last_login: "2013-11-19T10:59:59",
last_name: "Bheda",
username: "jadav"
});

$.ajax({
  url: 'http://127.0.0.1:8000/api/v1/user/?format=json',
  type: 'POST',
  contentType: 'application/json',
  data: data,
  dataType: 'json'
})
</script>
<script>
/*
var data = JSON.stringify({
"domain_name": "http://1blog.julython.org/",
"last_accessed": "2013-11-19T22:40:46",
"title": "link2NEW",
"url": "http://1blog.julython.org/1",
"user": "/api/v1/user/2/",
"view_count": 0
});

$.ajax({
  url: 'http://127.0.0.1:8000/api/v1/link/?format=json',
  type: 'POST',
  contentType: 'application/json',
  data: data,
  dataType: 'json'
})
*/
</script>
</head>
<body>
		<div id="link"></div>
		<!--create, reset, update, delete-->
		<button id="show">show</button>
		<button id="show">update</button>
		<button id="show">delete</button>
	</body>
</html>
