<!DOCTYPE html>
<html>
<head>
    <title>Chronological Bookmarks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/demo.css" rel="stylesheet">

    <!-- Bootstrap Admin Theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-admin-theme.css" rel="stylesheet" media="screen">

    <!-- Custom styles -->
    <style type="text/css">
    

      .bootstrap-admin-content-title h1{
            font-size: 45px;
            margin-bottom: 30px;
        }
        .bs-docs-home{
        }
        .bs-masthead{
            padding: 0;
        }
        .bs-masthead h1{
            font-size: 40px;
            margin: 0;
            padding: 34px 0;
            text-align: center;
        }
        .bs-masthead a:hover{
            text-decoration: none;
        }
        .meritoo-logo a{
            background-color: #fff;
            border: 1px solid rgba(66, 139, 202, 0.4);
            display: block;
            padding: 12px 0;
        }
        .meritoo-logo a img{
            display: block;
            margin: 0 auto;
        }
        .row-urls{
            margin-top: 4px;
        }
        .row-urls .col-md-6{
            text-align: center;
        }
        .row-urls .col-md-6 a{
            font-size: 18px;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
       <script type="text/javascript" src="js/html5shiv.js"></script>
       <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
</head>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////-->

<body>

<!--******************************************************************************-->
<!--  Anything thats just for the sake of clonning and is hidden should go here -->
		
	<div class="col-xs-2" id="popover_content_wrapper" style="display: none;">
		<form action="" name="pop-link-form" class="form-horizontal" role="form" method="post">
			<div class="form-group" class="popoverform">
				<label for="title" class="col-sm-2 control-label">Title</label>
				<div class="col-sm-10">
					<input type="text" id="title" class="form-control title"/>
				</div>
			</div>
			<div class="form-group">
				<label for="url" class="col-sm-2 control-label">Url</label>
				<div class="col-sm-10">
					<input type="text" id="url" class="form-control url" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4 col-xs-4">
				
				
					<button class="btn btn-primary linkedit" data-linkid="">Done</button>
				</div>
				<div class="col-sm-offset-2 col-sm-4 col-xs-4">
					<button class="btn btn-danger link-delete">Delete</button>		
				</div>
			</div>
		</form> 
	</div>
			
<!--******************************************************************************-->            
<!-- Now starts the main stuff. please be carefull -->    
    <!-- small navbar -->
    <!-- <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar-sm" role="navigation"> -->
	
	           <div class="row" id="favicon_bar">
                    <div id="icons-attach" class="col-md-12 col-sm-12 col-xs-12">
                                  <ul id="icon-list">
                                        <div id="favicon_wrapper" style="display:none;"><li><a class="favicon-link" href="http://facebook.com/"><img class="favicon" src=""></a></li></div>
                                  </ul>
                     </div>
                     <div class="userinfo">   
  							<ul>
								<li><img src="{{ STATIC_URL }}icons/pencil.png" class="pull-right web-icon edit-off" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click here to toggle between edit and non edit mode" id="edit-mode"></img></li>
                            </ul>
							<div class="dropdown dropdowncss">
										<a href="#" role="button" class="dropdown-toggle" data-hover="dropdown"> <img class="user" src="{{ STATIC_URL }}icons/user.png"></img> {{ user }} <i class="caret"></i></a>
										<ul class="dropdown-menu">
											<li><a href="/accounts/signout/">Logout</a></li>
										</ul>
							</div>
                    </div>
             </div>
				<!-- Brand and toggle get grouped for better mobile display -->

<!--******************************************************************************-->
<!-- main / large navbar -->	
    <br/>

<!--******************************************************************************-->        
   				
                        <div class="bootstrap-admin-no-edges-padding" id="category_wrapper" style="line-height: 1.80;">
                           

                                    <div class="row" style="margin-right: 1%;margin-bottom: -3%;">
                                        <form action="" class="form-inline" id="urlform" name="urlform" method="post">
                                            
                                                <!--  <label for="newurl"> Paste Url Here</label> -->
                                                <input type="text" id="newurl" class="form-control" placeholder="Enter URL here"/>
                                        
                                        </form>
                                    </div>
                                    
                            

                            <div style="display: none;">
                                                        
                                <div class="" id="cat_content">
                                    
                                    <div class="panel panel-default">
                                        
                                        
                                        <div class="bootstrap-admin-panel-content">
                                            <div style="display:none;">
                                                <div class="link alink" id="link_content">
                                                  <a href="" id="" class="editable editable-click"></a>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>            

                        </div>
							
                    

                             
			

        
   

	
	<!--******************************************************************************-->

    <div class="row" style="position:absolute;">
        <hr>
        <footer role="contentinfo">
        
        </footer>
    </div>

<!--******************************************************************************-->
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
    <script src="{{ STATIC_URL }}scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/config.js"></script>
    <script src="{{ STATIC_URL }}scripts/jquery.columnizer.js"></script>
    <script type="text/javascript">
	    	
			var HOST_NAME	= 'http://127.0.0:8000/'
			var USER_NAME	= ''
			var API_NAME	= '/api/v1/'
			var LINK		= 'link/'
			var CATEGORY	= 'category/'
			var FORMAT		= '?format=json'
			var link_url = {};
			var quick_link_url = {};
			var USER_ID = '{{ user.id }}';
			//username is dynamic
			USER_NAME = '{{user}}';
			default_category = '{{default_cat}}'
                var iconpath = '{{ STATIC_URL }}icons';
    </script>
	<script src="{{ STATIC_URL }}scripts/uri.js"></script>
	<script src="{{ STATIC_URL }}scripts/function.js"></script>


</body>
</html>
