<!DOCTYPE html>
<html class="bootstrap-admin-vertical-centered">
  <head>
    <title>Chronological Bookmarks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/demo.css" rel="stylesheet">

    <!-- Bootstrap Admin Theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-admin-theme.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
       <script type="text/javascript" src="{{STATIC_URL}}js/html5shiv.js"></script>
       <script type="text/javascript" src="{{STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
	    <script src="{{ STATIC_URL }}scripts/jquery-ui.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}js/twitter-bootstrap-hover-dropdown.min.js"></script>
	    <script src="{{ STATIC_URL }}scripts/jquery.ui.touch-punch.min.js"></script>
	    <script src="{{ STATIC_URL }}scripts/config.js"></script>
	    <script src="{{ STATIC_URL }}scripts/uri.js"></script>
	    <script src="{{ STATIC_URL }}scripts/function.js"></script>
          <script src="{{ STATIC_URL }}scripts/jquery.placeholder.js"></script> 

  <script>
     $(document).ready(function(){

      $(function() {
        // Invoke the plugin
        $('input, textarea').placeholder();
      
      });
    	var Environment = {
	    //mobile or desktop compatible event name, to be used with '.on' function
	  /*  TOUCH_DOWN_EVENT_NAME: 'mousedown touchstart',
	    TOUCH_UP_EVENT_NAME: 'mouseup touchend',
	    TOUCH_MOVE_EVENT_NAME: 'mousemove touchmove',
	    TOUCH_DOUBLE_TAB_EVENT_NAME: 'dblclick dbltap',
	*/
	    isAndroid: function() {
	        return navigator.userAgent.match(/Android/i);
	    },
	    isBlackBerry: function() {
	        return navigator.userAgent.match(/BlackBerry/i);
	    },
	    isIOS: function() {
	        return navigator.userAgent.match(/iPhone|iPod/i);
	    },
	    isOpera: function() {
	        return navigator.userAgent.match(/Opera Mini/i);
	    },
	    isWindows: function() {
	        return navigator.userAgent.match(/IEMobile/i);
	    },
	    isMobile: function() {
	        return (Environment.isAndroid() || Environment.isBlackBerry() || Environment.isIOS() || Environment.isOpera() || Environment.isWindows());
	    }
	};	
	

if (Environment.isWindows()){

   $(".forms").css({
   
   'left':'5%',
   });
   $("#windows").addClass('main');
   <!-- $(".bmimage").hide(); -->
  $(".forms").css('left','-20px');

   $(".bmimage").addClass('col-xs-9');
    $(".forms").addClass('col-xs-18');    
   $(".forms").css({'margin-top':'200px',
   'max-width':'190% !important'
   });
   $(".signinform").css('max-width','190% !important');

   <!-- $(".signupform").css('max-width','90% !important');  -->
   $("body").removeClass('main');
   <!-- $(".signinform").css('max-width','90%'); -->

}

if (Environment.isAndroid() || Environment.isBlackBerry() || Environment.isIOS() || Environment.isOpera()){
  $(".forms").css('left','-20px');
  $(".bmimage").addClass('col-xs-9');
  
  $(".forms").addClass('col-xs-11');
  <!-- $('.signinform').css('margin-top','150px'); -->
   $(".signinform").css('max-width','90% !important');
   $(".signupform").css('max-width','90% !important');
   $(".signuptextbox").css('margin-bottom','1px !important');    
   $("body").addClass('main');

}

}); 
 </script>  

  
    <script type="text/javascript">
    	
    	{% if user.is_authenticated %}
    		
 	   		document.location.href = "/{{user}}/";
 	   		USER_NAME = '{{user}}';
    		
    		
    	{% endif %}
    	
    </script>
	
        <script type="text/javascript">
            $(function() {
             	//alert(window.devicePixelRatio);
             	//alert(window.screen.width/window.screen.height); 
                // Setting focus
                //$('input[name="email"]').focus();

                // Setting width of the alert box
                var formWidth = $('.bootstrap-admin-login-form').innerWidth();
                var alertPadding = parseInt($('.alert').css('padding'));
                $('.alert').width(formWidth - 2 * alertPadding);
            });
        </script>
    
</head>

	<body class="bootstrap-admin-without-padding main">
	    <div class="row" style="height:45px;background-image:url('../static/images/headerbar.jpg');">
		  <!--  headerbar -->
		</div>
        
		<div class="row" id="windows">
		
			  <div class="row col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1  bmimage">
                    <!-- leftimage as in twittor -->
					<h4 style="font-style:bold">Welcome to Savdus.</h4><br/>
                     <p>Save your bookmarks here and forget the hassle of <br/>remembering where you saved your bookmarks.</p>
			   </div>		
		   
		
               <div class="col-md-5 col-sm-5 forms">
			   
			                      <form method="post" action="/accounts/signin/" class="signinform">
                	{% csrf_token %}

                    <span class="has-error"><span class="help-block">{{form.non_field_errors.as_text}}</span></span>
                    <div class="form-group {% if form.identification.errors.as_text %}has-error{% endif %}">
                        <input class="form-control emailtextbox" id="id_identification" type="text" name="identification" placeholder="Username">
                       	<span class="help-block">{{form.identification.errors.as_text}}</span>
                    </div>
                    <div class="form-group {% if form.password.errors.as_text %}has-error{% endif %} logintextbox">
                        
						<input class="form-control password" id="id_password" type="password" name="password" placeholder="Password"/>

                        <span class="help-block">{{form.password.errors.as_text}}</span>
                    </div>
                    <div class="form-group logintextbox">
                         <button class="btn btn-lg btn-primary submit btn-xs" type="submit">Sign In</button> 
		
                    </div>
						                   
			 
					
                </form>
			    
			   
			         <form method="post" action="/accounts/signup/" class="form-horizontal signupform">
                	{% csrf_token %}
                    <h4>Sign Up</h4>
                    <span class="has-error"><span class="help-block">{{form.non_field_errors.as_text}}</span></span>
                    <div class="form-group {% if form.username.errors.as_text %}has-error{% endif %}">
                    	
                    	<div class="col-md-12">
                        <input class="form-control signuptextbox" id="id_username" type="text" name="username" placeholder="Choose a username">
                       	<span class="help-block">{{form.username.errors.as_text}}</span>
						</div>
                       	
                    </div>
                    <div class="form-group {% if form.email.errors.as_text %}has-error{% endif %}">
                        
                        <div class="col-md-12">
                        <input class="form-control signuptextbox" id="email" type="email" name="email" placeholder="Enter your email 	">
                        <span class="help-block">{{form.email.errors.as_text}}</span>
                        </div>
                    </div>
                    <div class="form-group  {% if form.password1.errors.as_text %}has-error{% endif %}">
                    	
                        <div class="col-md-12"> 
                        <input class="form-control signuptextbox" id="id_password1" type="password" name="password1" placeholder="Password">
                        <span class="help-block">{{form.password1.errors.as_text}}</span>
                        </div>
                    </div>
                    <div class="form-group  {% if form.password1.errors.as_text %}has-error{% endif %}">
                        
                        <div class="col-md-12">
                        <input class="form-control signuptextbox" id="id_password2" type="password" name="password2" placeholder="Re-Enter Password">
                        <span class="help-block">{{form.password2.errors.as_text}}</span>
                        </div>


                    <button class="btn btn-warning signup btn-lg btn-sm" type="submit">Create My Account</button>

					</div>
                </form>
				
			  </div>
			
			</div>			
	</body>
</html>