<html>
	<head>
		<meta charset="utf-8">
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="{{ STATIC_URL }}css/bootstrap-editable.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/demo.css" rel="stylesheet"></link>		
	</head>
	<body>
		<header>
			<div id="icons-attach" class="row">
				
			</div>
		</header>
		<div id="divform" class="row col-md-11 col-md-offset-1">
			<form action="" class="col-md-4 col-md-offset-4" id="urlform" name="urlform" method="post">
				<input type="text" id="newurl" class="form-control" style="margin:10px;border:1px black solid;width:300px;"/><br>
			</form>
		</div>
		
		<div class="row">
			<div id="container" class="row col-md-11 col-md-offset-2">
				
			</div>
		</div>
<!--create, reset, update, delete-->
<!--
<button id="show1">show</button>
<button id="link-create">link-create</button>
<button id="cat-create">category create</button>
<button id="link-update">link-patch</button>
<button id="cat-update">cat-patch</button>
<button id="link-delete">link-delete</button>
<button id="cat-delete">cat-delete</button>
<br>Hello ! {{username}}
-->
	<div id="popover_content_wrapper" style="display: none;">
		<form action="" id="pop-link-form" name="pop-link-form" class="form-horizontal" role="form" method="post">
			<div class="form-group">
				<label for="title" class="col-sm-2 control-label">Title</label>
				<div class="col-sm-10">
					<input type="text" id="title" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="url" class="col-sm-2 control-label">Url</label>
				<div class="col-sm-10">
					<input type="text" id="url" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<button class="btn btn-primary" id="ed">Edit</button>
				</div>
				<div class="col-sm-offset-2 col-sm-4">
					<button class="btn btn-danger" id="del">Delete</button>		
				</div>
			</div>
		</form> 
	</div>
	
		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/bootstrap-editable.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/jquery.hoverIntent.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/config.js"></script>
		<script src="{{ STATIC_URL }}scripts/function.js"></script>		
	</body>
</html>
