<html>
	<head>
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="{{ STATIC_URL }}css/bootstrap-editable.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/demo.css" rel="stylesheet"></link>
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
	</head>
	<body>
		<header class="text-center">This is a header</header>
		<div id="icons-attach" class="row col-md-12">
			<ul class="nav navbar-nav">
				<li style="margin-left: 10px;">icon1</li>
				<li style="margin-left: 10px;">icon2</li>
				<li style="margin-left: 10px;">icon3</li>
			</ul>
		</div>
		<form action="" id="urlform" name="urlform" method="post">
			<input type="text" id="newurl" class="form-control" style="margin:10px;border:1px black solid;width:300px;"/><br>
		</form>
		<div class="row">
			<div id="container" class="row col-md-12">
				
			</div>
		</div>
		
		<!--create, reset, update, delete-->
		<!--
		<button id="show1">show</button>
		<button id="link-create">link-create</button>
		<button id="cat-create">category create</button>
		<button id="link-update">link-patch</button>
		<button id="cat-update">cat-patch</button>
		<button id="link-delete">link-delete</button>
		<button id="cat-delete">cat-delete</button>
		<br>Hello ! {{username}}
		-->
		
		<script src="{{ STATIC_URL }}scripts/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}scripts/bootstrap-editable.min.js"></script>
		<script>
			
			$(document).ready(function(){
				$.ajax({
					url:  "http://127.0.0.1:8000/jadav/api/v1/category/?format=json",
					method: 'get',
					contentType: 'application/json',
					data: data_link,
					dataType: 'json',
					success: 
							function( data ) {
								for(i=0; i< data.objects.length ; i++){
									$('#container').append('<div id="'+ data.objects[i].resource_uri +'" class="category col-md-3 well" style="min-height:250px;"><span><b>'+data.objects[i].name+'</b></span>&nbsp;&nbsp;')
									for(j=0; j<	data.objects[i].link.length; j++){
										document.getElementById(data.objects[i].resource_uri).innerHTML += '<span class="link" id="link['+j+']" style="width:auto; height:auto;"><a target="_blank" href="'+data.objects[i].link[j].url+'" id="'+data.objects[i].link[j].resource_uri+'">'+data.objects[i].link[j].url+'</a>&nbsp;<img style="cursor: pointer;" src="{{STATIC_URL}}images/remove.png"></img></span>&nbsp;&nbsp;&nbsp;&nbsp;';										
										//$("'#"+ data.objects[i].name+"'").append('<span class="link" id="link['+j+']" style="width:auto; height:auto;"><a target="_blank" href="'+data.objects[i].link[j].url+'" id="'+data.objects[i].link[j].resource_uri+'">'+data.objects[i].link[j].url+'</a></span>&nbsp;&nbsp;&nbsp;&nbsp;')
									}
									$('#container').append('</div>');
								}
								
							//$(".link").draggable();
								$('.link').hover(function(){
									$( this ).css('color','green');
									
								});
								var source;
							
								$(".category").sortable({
									connectWith: ".category",
									revert : "false",

									start : function(event, ui){
										source = ui.item.parent().attr('id');
									},

									stop : function(event, ui){
										//alert(ui.item.index());
									},

									update : function(event, ui){
										//alert("Something updated");
									},

									receive : function(event, ui){
										alert(source);
										alert(ui.item.index());;
										alert(ui.item.parent().attr('id'));
									}

								}).disableSelection();
								
							$(".link a").on('save', function(e, params){
							
								$.ajax({
									url: "http://127.0.0.1:8000/jadav"+$(this).attr('id'),
									method: 'patch',
									contentType: 'application/json',
									data: 	JSON.stringify({
												"user": "/api/v1/user/2/",
												"category": $(this).parent().parent().attr('id'),
												"url": params.newValue,												
											}),
									dataType: 'json',	
									processData: false,
									success: function(data){
										alert('link updated!');
									}		
								});
							
							});
							
							$(".link a").editable();
							$('.link a').on('hidden', function() {
								$(this).removeClass('editable-unsaved');
							})
							$('img').on('click',function(){
								var link_id = $(this).siblings('a').attr('id');
								$.ajax({
									url: 'http://127.0.0.1:8000/jadav'+link_id,
									method: 'delete',
									contentType: 'application/json',
									data: JSON.stringify({
												"user": "/api/v1/user/2/",
												"category": $(this).parent().parent().attr('id'),
												"url": $(this).siblings('a').val(),												
											}),
									dataType: 'json',
									processData: false,
									success: function(data){
										location.reload();
									}
								});
							});
							
						},
				});				
			});
			
			
		/*************************************************/
		
		
			var form = $('#urlform');
			form.on('submit', function(e){
				e.preventDefault();
				var newurl = $('#newurl').val();
				var data_link_new = JSON.stringify({
					"user": "/api/v1/user/2/",
					"category": "/api/v1/category/10/",
					"domain_name": newurl,
					"last_accessed": "2013-11-21T23:23:38",
					"title": newurl,
					"url": newurl,
					"view_count": 1,
				});
				
				$.ajax({
					url: 'http://127.0.0.1:8000/jadav/api/v1/link/',
					method: 'post',
					contentType: 'application/json',
					data: data_link_new,
					dataType: 'json',
					processData: false,					
					success : function(data){
							form.trigger('reset');
							location.reload();
					},
					error: function(e) {
						console.log(e)
					}				
				});
			});
		
		/***********************************************************/
			var link_id;
			var cat_id;
			var data_link = JSON.stringify({
				"user": "/api/v1/user/2/",
				"category": "/api/v1/category/1/",
				"domain_name": "https://google.com/",
				"last_accessed": "2013-11-21T23:23:38",
				"title": "urlgoogle",
				"url": "https://google.com/tutorial04",
				"view_count": 1,
			});
			
			var data_link_update = JSON.stringify({
				"user": "/api/v1/user/2/",
				"category": "/api/v1/category/1/",
				"domain_name": "https://googleguide.com/",
				"last_accessed": "2013-11-21T23:23:38",
				"title": "googleguide",
				"url": "http://www.googleguide.com/category/query-input/",
				"view_count": 1,
			});
			
			var data_cat_update = JSON.stringify({
				"user": "/api/v1/user/2/",
				"name":"PrAsHaNt",
				"id":8
			});
			
			var data_link_del = JSON.stringify({
				"user": "/api/v1/user/2/",
				"category": "/api/v1/category/1/",
				"id":15,
			});
			
			var data_cat_del = JSON.stringify({
				"user": "/api/v1/user/2/",
				"id": 1
			});
			
			var data_category = JSON.stringify({
				"chrono_order": 2,
				"name": "prashantCategoy",
				"user": "/api/v1/user/2/",
				"link": [],
			});
			
			//click on events
			$('#show').on('click', function(e){
				$.ajax({
					url:  "http://127.0.0.1:8000/jadav/api/v1/category/?format=json",
					method: 'get',
					contentType: 'application/json',
					data: data_link,
					dataType: 'json',
					success: 
						function( data ) {
								for(i=0; i< data.objects.length ; i++){
									for(j=0; j< data.objects[i].link.length; j++)
										alert(data.objects[i].link[j].url);
								}
						},
				});
			});
			
			$('#link-create').on('click', function(e){
				
				$.ajax({
					url: 'http://127.0.0.1:8000/jadav/api/v1/link/',
					method: 'post',
					contentType: 'application/json',
					data: data_link,
					dataType: 'json',
					processData: false,					
					success : function(data){
							alert('link created');
					},				
				});							
			});
			
			$('#cat-create').on('click', function(e){
				$.ajax({
					url: 'http://127.0.0.1:8000/jadav/api/v1/category/',
					method: 'post',
					contentType: 'application/json',
					data: data_category,
					dataType: 'json',
					processData: false,
					success: function(data){
						alert('category created');
					}
				});
			});
			
			$('#link-delete').on('click', function(e){
				$.ajax({
					url: 'http://127.0.0.1:8000/jadav/api/v1/link/'+15+'/',
					method: 'delete',
					contentType: 'application/json',
					data: data_link_del,
					dataType: 'json',
					processData: false,
					success: function(data){
						alert(JSON.stringify(data));
					}
				});
			});
			
			$('#cat-delete').on('click', function(e){
				$.ajax({
					url: 'http://127.0.0.1:8000/jadav/api/v1/category/'+7+'/',
					method: 'delete',
					contentType: 'application/json',
					data: data_cat_del,
					dataType: 'json',
					processData: false,
					success: function(data){
						alert(JSON.stringify(data));
					}
				});
			});
			
			$('#link-update').on('click', function(e){
				$.ajax({
					url: 'http://127.0.0.1:8000/jadav/api/v1/link/'+1+'/',
					method: 'patch',
					contentType: 'application/json',
					data: data_link_update,
					dataType: 'json',
					processData: false,
					success: function(data){
						alert(JSON.stringify(data));
					}
				});
			});
			
			$('#cat-update').on('click', function(e){
				$.ajax({
					url: 'http://127.0.0.1:8000/jadav/api/v1/category/'+8+'/',
					method: 'patch',
					contentType: 'application/json',
					data: data_cat_update,
					dataType: 'json',
					processData: false,
					success: function(data){
						alert(JSON.stringify(data));
					}
				});
			});
		</script>
	</body>
</html>
